
.container{
  width:100%;
  height:auto;
  max-width:500px;
  min-height:500px;
  min-width:250px;
  background:rgb(36, 248, 255);
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px rgb(94, 100, 83);
  box-sizing:border-box;
}
body {
    background:rgb(37, 37, 37);
    color:brown;
    font-family: Lato, sans-serif;
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 50vh;

  }
  .heading{
    display:flex;
    align-items: center;
    justify-content: center;
    
  }
  .heading>h1{
  
    border-radius:50px;
    background-color:moccasin;
    font-size: 34px;
    text-shadow: 2px 2px 4px #000000;
  }
  
  .main {
    display: block;
    width: 400px;
    margin: 100px auto 0;
  }
  li{
      text-align: center;
      position: relative;
      padding:0.5px;
      color:midnightblue;
      
  }
  
  
  button {
    background:darkorange;
    border: 0px;
    font-size: 15px;
    width: 60px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
    float: left;
  }
  
  input[type="text"] {
  
    font-size: 15px;

    height: 18px;
    padding: 5px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 8px;
    font-family:cursive;
    text-align: center;
    color:darkred
  }
  
  .form > input{
    box-sizing:border-box;
    background-color: transparent;
    padding:0.7rem;
    border-bottom-left-radius: 3px 15px;
    border-bottom-right-radius: 15px 3px;
    font-size:1rem;
    margin-bottom:20px;
  }
